# ignore data
/data/*
.venv

# keep
!/data/README.md

# ignore pycache
__pycache__/
*.py[cod]

/attacks/fed/data_old
/attacks/fed/final_data
/attacks/fed/adv_trained

/attacks/defed/data-test
/attacks/defed/data-test/fgsm
/attacks/const/temp

/defenses/fed/data-test

_old/

/attacks/defed/data-test/