# ignore data
/data/*
.venv

# keep
!/data/README.md

# ignore pycache
__pycache__/
*.py[cod]

/attacks/fed/data_old
/attacks/fed/final_data

/attacks/defed/data-test
/attacks/const/temp

/defenses/fed/data-test
